# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
*.env        # Catch all .env files
db.sqlite3
staticfiles/

# Node
node_modules/
dist/
.DS_Store

# IDE
.idea/
.vscode/

# Local development
*.log
.env*        # Catch all .env variants
.env.local
.env.development.local
.env.test.local
.env.production.local

# Database
postgres_data/

# Personal notes
notes.txt
note.txt
structure.txt

# Docker
.docker/